*,
*:before,
*:after {
  cursor: var(--regular-cursor);
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body-1);
}

.mobile-only {
  display: none !important;
}

.desktop-only {
  display: none !important;
}

a:hover,
input:hover,
textarea:hover,
button:hover,
header img,
a > i,
nav a > i,
#navigation-icon,
#navigation-icon-close {
  cursor: var(--link-cursor);
}

html {
  background-color: var(--html-background-color);
  transition: var(--transition-default);
}

header {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: var(--section-lateral-padding);
  height: auto;
  width: auto;
  max-width: 100%;
}

div.wrapper {
  height: var(--full-height);
  max-width: var(--max-content);
  margin: var(--section-container-margin) auto;
}

div.container {
  display: flex;
  flex-wrap: wrap;
}

div.lateral {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex: 1 1 180px;
  margin: 0 var(--section-lateral-margin) 0 0;
  height: var(--full-height);
}

div.content {
  flex: 1 1 880px;
  height: auto;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-default);
  padding: var(--section-content-padding);
}

.page-title-svg {
  margin-bottom: var(--section-lateral-padding);
  width: auto;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul.ornamental li,
ul.basic li {
  position: relative;
  list-style-type: none;
  margin-left: 0;
  padding-left: var(--p-text-small-margin);
  background-repeat: no-repeat;
  background-position: 0px 10px;
}

ul.ornamental li {
  background-image: url("../assets/resources/ui/ornamental.svg");
}

ul.basic li {
  background-image: url("../assets/resources/ui/basic2.svg");
}

#navigation-icon-close {
  top: var(--section-content-small-padding);
  right: var(--section-content-small-padding);
  position: fixed;
  z-index: 1;
}

#navigation-icon,
#navigation-icon-close {
  font-size: 1.7rem;
  margin: var(--p-text-xsmall-margin);
}

.menumobile {
  position: absolute;
  display: none;
  z-index: 9;
}

.menumobile.open {
  display: flex;
}

.open {
  background-color: var(--link-color);
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    height: 32px;
    padding: 0;
    margin: var(--p-text-xsmall-margin) 0 0 0;
  }

  .logo {
    margin-bottom: 0;
  }

  div.wrapper {
    margin: var(--p-text-medium-margin) auto;
    padding: 0 16px;
  }

  div.lateral {
    flex: 1 1 100%;
    margin: 0;
    height: auto;
  }

  div.content {
    margin-top: 60px;
    margin-bottom: 300px;
    padding: var(--p-text-xmedium-margin);
  }

  .page-title-svg {
    margin-bottom: 0;
    height: 36px;
  }
}
