.content,
.content-video,
.intro,
.silhouette {
  animation: fadeIn var(--transition-time-default) ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .content,
  .content-video,
  .intro,
  .silhouette {
    animation-duration: var(--transition-time-tablet);
  }
}
