.page-enter-active,
.page-leave-active {
  transition: var(--transition-base);
}

@media (max-width: 768px) {
  .page-enter-active,
  .page-leave-active {
    transition: var(--transition-mobile);
  }
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform-origin: 50% 50%;
}
