---
import { Image } from "astro:assets";
import conferenciasTitle from "../assets/resources/titles/conferencias.svg";
import Page from "../layouts/Page.astro";

const pageTitle = "Conferencias y ponencias de Lluís Sallés";
const pageDescription =
  "Conferencias sobre diseño, branding, identidad de marca y literatura en universidades y eventos profesionales.";
const pageKeywords = "conferencias diseño, ponencias branding, eventos académicos, charlas profesionales";
---

<Page title={pageTitle} description={pageDescription} keywords={pageKeywords}>
  <div class="content">
    <h1>
      <Image src={conferenciasTitle} alt="Conferencias Lluís Sallés." class="page-title-svg" />
    </h1>
    <p>
      <i>Conferencia</i>.
      <strong>Els fills de la lluna. L’estigma de l’home llop</strong>.<br />
      <span
        >V Seminari del Grau d’Humanitats i cultura visual. L’altra cara de la Lluna (Lluna i alteritat). Noviembre de
        2022. Facultat de Filosofia i lletres. Universitat Autònoma de Barcelona.</span
      >
    </p>

    <p>
      <i>Seminario</i>.
      <strong>Identidades en tránsito. Utopías y distopías neoliberales</strong>.<br />
      <span
        >III Seminari del Grau d'Humanitats i cultura visual. Paisatges de la utopia, coordinador Joan Carles Cirera.
        Febrero 2021. Universitat Autònoma de Barcelona.</span
      >
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Forma, cultura e identidad de marca</strong>.<br />
      <span
        >Dentro del Grado en Ingeniería en diseño, en la asignatura de Metodología de la ingeniería en diseño
        industrial, dirigida por Jessica Fernández. Septiembre 2020. Escuela Universitaria Elisava.</span
      >
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>La creación de los relatos de identidad en el diseño</strong>.<br />
      <span
        >Dentro del Master en literatura comparada, en el módulo de Estudios culturales dirigido por el Dr. A.
        Penedo-Picos. Noviembre 2020. Universidad Autónoma de Barcelona.</span
      >
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>La forma como concepto estético</strong>.<br />
      <span
        >Dentro del Grado en Ingeniería en diseño, en la asignatura de Metodología de la ingeniería en diseño
        industrial, dirigida por Jessica Fernández. Septiembre 2019. Escuela Universitaria Elisava.</span
      >
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Los siete pecados capitales y sus correspondientes virtudes</strong>.<br />
      <span
        >Dentro del Grado en diseño, en la asignatura de Identidad (Proyectos III, 2º curso), dirigida por Albert
        Romagosa y Eduard Inglés. Abril 2018. Escuela Universitaria Elisava.</span
      >
    </p>

    <p>
      <i>Congreso</i>.
      <strong
        >Congreso de la Asociación Aleph, participación con la ponencia, «Barcelona, personaje y protagonista en la
        novela española de los sesenta», Sesión XV, Viernes 21 de abril de 2017</strong
      >.<br />
      <span
        >El
        <a
          href="http://asociacionaleph.com/index.php/congresos/historico-congresos"
          title="XIV Congreso de la Asociación ALEPH"
          target="_blank">XIV Congreso de la Asociación ALEPH</a
        >, Transbordos literarios: correspondencias y confines en la literatura hispánica, se celebró en la Universidad
        Autónoma (UAB) y en la Universidad de Barcelona (UB) durante los días 18, 19, 20 y 21 de abril de 2017, con la
        colaboración de la Reial Acadèmia de Bones Lletres de Barcelona. En este congreso participaron 148 jóvenes
        investigadores de diferentes universidades de España, Europa, América y Oriente</span
      >.
    </p>

    <p>
      <i>Conferencia</i>. <strong>Cómo cobrar por nuestras ideas</strong>.<br />
      <span
        >Dentro del Festival Creatus Dominus, ed.3. Octubre 2016 (<a
          href="https://www.youtube.com/watch?v=rtj6OnB3KTk"
          title="Cómo cobrar por nuestras ideas - Lluís Sallés"
          target="_blank">ver en YouTube</a
        >). En la misma edición moderador de la mesa redonda, Diseño Crítico, participantes, Curro Claret, Jordi Llopis,
        Carol Sánchez y Olmo García.</span
      >
    </p>

    <p>
      <i>Master Class</i>.
      <strong>La presentación y la venta. El diseño del Portfolio. Soy mi propia marca</strong>.<br />
      <span
        >Fundació Universitat Autònoma de Barcelona. Programa Study Abroad.<br />
        Persona de contacto: Enric Lluch, 649 814 001 y Jordi Vidal Bernat; 663 089 911. UAB. Febrero 2016.</span
      >
    </p>

    <p>
      <i>Master Class</i>. <strong>El arte de la retórica</strong>.<br />
      <span>YUZZ. Febrero 2016.</span>
    </p>

    <p>
      <i>Ponente</i>. <strong>PechaKucha en Creatus Dominus</strong>.<br />
      <span
        >Octubre 2015.
        <a href="https://youtu.be/rZTO9NYRm14" title="PechaKucha 2015 - Creatus Dominus" target="_blank"
          >Ver en YouTube</a
        >.</span
      >
    </p>

    <p>
      <i>Master Class</i>. <strong>Cómo comunicar un proyecto</strong>.<br />
      <span>YUZZ. Marzo 2015.</span>
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Book: Mi madre, mi book y yo. ¿Realidad o ciencia ficción?</strong><br />
      <span
        >Dentro del Festival Creatus Dominus, ed.0. Octubre 2014.
        <a href="https://www.youtube.com/watch?v=XNWIZTE7oyU" title="Portfolio - Lluís Sallés" target="_blank"
          >Ver en YouTube</a
        >.</span
      >
    </p>

    <p>
      <i>Ponente</i>.
      <strong>PechaKucha BCN Vol.16. En L'Antiga Fabrica Damm</strong>.<br />
      <span
        >Mayo 2012.
        <a
          href="http://cargocollective.com/pechakuchabcn/PechaKucha-BCN-Vol-16"
          title="PechaKucha Vol.16"
          target="_blank">Consultar web</a
        >.</span
      >
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Segon seminari Comunicació i Art a Sant Cugat</strong>.<br />
      <span
        >ACO, Associació Catalana d'Oratoria en col·laboració amb Delta gent activa. Casa de Cultura de Sant Cugat. Mayo
        2012.</span
      >
    </p>

    <p>
      <i>Master Class</i>.
      <strong>La presentación y la venta. El diseño del Portfolio. Soy mi propia marca</strong>.<br />
      <span
        >Fundació Universitat Autònoma de Barcelona. Programa Study Abroad. Persona de contacto: Enric Lluch, 649 814
        001 y Jordi Vidal Bernat; 663 089 911. UAB. Abril 2012.</span
      >
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Jornada Professional: Innovació en temps de crisi</strong>.<br />
      <span>Escola Elisava. Febrero 2009.</span>
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Jornada Professional: El disseny de valor estètic a valor estratègic</strong>.<br />
      <span>Escola Elisava. Marzo 2008.</span>
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Moda &amp; Media by sofoco: Branding, creación de marca</strong>.<br />
      <span>Museu Textil de Barcelona. Julio 2007.</span>
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Taller de Formació: El disseny com element diferenciador</strong>.<br />
      <span
        >22@ de Barcelona i el Centre d'Innovació i Desenvolupament Empresarial (CIDEM). Emmarcat en el Pla de
        dinamització del clúster de Moda Tèxtil a Catalunya. Abril 2007.</span
      >
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Moda &amp; Media by sofoco. Imagen de Marca</strong>.<br />
      <span>Museu Textil de Barcelona. Julio 2006.</span>
    </p>

    <p>
      <i>Conferencia</i>. <strong>El status</strong>.<br />
      <span>Associació Comunicació i Moda. Diciembre 2004.</span>
    </p>

    <p>
      <i>Conferencia</i>.
      <strong>Moda &amp; Media by sofoco. Imagen y estrategias de comunicación</strong>.<br />
      <span>Museu Textil de Barcelona. Julio 2004.</span>
    </p>
  </div>
</Page>
