---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />

  <div class="content-video">
    <video width="100%" height="auto" controls autoplay loop preload="auto" playsinline>
      <source src="../../public/video/lsd-video-loop.mp4" type="video/mp4" />
      <source src="../../public/video/lsd-video-loop.webm" type="video/webm" />
      Tu navegador no da soporte a vídeos.
    </video>
  </div>
</Layout>

<style>
  .content-video {
    margin: 0;
  }
</style>
