---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
import signature from "../assets/resources/titles/lluis-salles-signature.svg";
import silhouette from "../assets/resources/ui/lluis-salles-silhouette-v2.svg";
const { pathname } = Astro.url;
---

<div class="lateral-home">
  <header>
    <a href="/">
      <Image src={signature} alt="Lluís Sallés" class="logo" />
    </a>

    <Navigation />
  </header>
</div>

<div class="intro">
  <div class="titular">
    <h1>
      Justo allí, en el espacio interior de cada letra, en el vacío entre las palabras, tras una coma o al superar un
      punto, es donde acontece la existencia.
    </h1>
    <p>
      Escribir no es un ejercicio, tampoco un hábito, es una forma de vida donde el yo se desarrolla en paralelo a lo
      que la gente llama realidad. Las palabras, en todas sus formas, son universales a la espera de ser conjugadas
      hasta el infinito.
    </p>
    <p>
      <i
        >Ahora, convertido en un <a href="/quienesel" class:list={["nav-link", { active: pathname === "/quienesel" }]}
          >quincuagenario</a
        >, quizás ya solo adquiera sentido al <a
          href="/publicaciones"
          class:list={["nav-link", { active: pathname === "/publicaciones" }]}>escribir</a
        >.</i
      >
    </p>
  </div>
</div>
<div class="silhouette">
  <Image src={silhouette} alt="" />
</div>

<style>
  .lateral-home {
    flex: 1 1 13%;
  }

  .intro {
    display: flex;
    flex: 1 1 auto;
  }

  .titular {
    margin-top: var(--space-3xl);
    margin-bottom: var(--space-lg);
    width: 65ch;
  }

  h1,
  p {
    text-wrap: pretty;
  }

  .silhouette {
    display: flex;
    align-items: flex-end;
    z-index: 99;
    margin-right: 48px;
  }

  header {
    display: flex;
    position: relative;
  }

  @media (max-width: 768px) {
    .lateral-home {
      flex: 1 1 100%;
      margin: 0;
    }

    .intro {
      flex-direction: column;
      margin: 0;
    }

    .titular {
      width: 100%;
      margin: var(--space-xl) 0 0 0;
    }
  }
</style>
