---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
import signature from "../assets/resources/titles/lluis-salles-signature.svg";
import silhouette from "../assets/resources/ui/lluis-salles-silhouette-v2.svg";
import indiana from "../assets/resources/ui/encaputxat.png";

// Get the actual path to the optimized image
const indianaPath = await indiana.src;
---

<div class="lateral">
  <header>
    <a href="/">
      <Image src={signature} alt="Lluís Sallés" class="logo" />
    </a>

    <Navigation />
  </header>

  {/* Preload the image */}
  <link rel="preload" href={indianaPath} as="image" />

  <div class="silhouette">
    <Image src={silhouette} alt="" />
  </div>

  <div class="indiana">
    <Image src={indiana} alt="" />
  </div>
</div>

<style>
  header {
    position: fixed;
  }

  @media (max-width: 768px) {
    header {
      display: flex;
      position: relative;
    }
  }

  .indiana {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;
    background-color: rgba(251, 251, 251, 0.1);
  }

  .indiana img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: scale(0.95);
    transition: transform 0.5s ease;
  }

  .silhouette {
    position: fixed;
    bottom: 0;
    z-index: 99;
    cursor: pointer;
  }

  .silhouette:hover ~ .indiana {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .silhouette:hover ~ .indiana img {
    transform: scale(1);
  }

  @media (max-width: 768px) {
    .silhouette {
      bottom: 0;
      left: 50%;
      margin: 32px 0 0;
      transform: translate(-50%);
      z-index: -1;
    }
  }
</style>
