---
import Sidebar from "../components/Sidebar.astro";
import "../styles/index.css";
import SEO from "../components/Seo.astro";

interface PageProps {
  title: string;
  description: string;
  keywords: string;
  children: any;
}

const { title, description, keywords, children } = Astro.props as PageProps;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO title={title} description={description} keywords={keywords} />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <Sidebar />
        <slot />
      </div>
    </div>
  </body>
</html>
